- content_for :title do
  Admin Module
%header
  %span#header-left Admin Module
  %span#header-right
    .tray-icon#connectivity
    .tray-icon#lock
    .tray-icon#settings
%nav
  %ul
    %li Hello
    %li Hello
    %li Hello
    %li Hello
    %li Hello