- content_for :title do
  Admin Module
%header
  %span#header-left 
    = Pageant.starting? ? "Pageantus - #{@pageant.long_name}" : "Pageantus - No Pageant Active"
  %span#header-right
    .tray-icon#connectivity
    .tray-icon#lock
    .tray-icon#settings
.container
  .candidates-columns
  - Candidate.all.each do |c|
    .hello
      %h2= c.first_name
  -# %a.navigation-icon.icon-gears.icon-2x.rotate{:href => "#"} Hello
    