- content_for :title do
  Judge Module
%input#server-address{:type => "hidden", :value => "#{request.host}:#{request.port}"}
%header
  %span#header-left Mr. and Ms. CCSS 2013
  %span#header-right
    .tray-icon#connectivity
    .tray-icon#lock
    .tray-icon#settings
.container
  .idle
  .widget#time
    .first
    .second
  #content
    #content-pane
      #criteria
        %h1.criteria Criteria
      #candidate-details
        %span.name.label Sample Person
        %span.college.label College of Computer Studies and Systems
        %span.image
          %span.number 5
          %span.score-pane
            %span.category.label Category 1
            %span.score#score
          %span.left.arrow
          %span.right.arrow
        #candidate-set
          %span#submit Submit Scores
    #sidebar
  .widget#unlock
    #well
      %span#slider
      %span.slide-to-unlock slide to unlock
  #footer
