- content_for :title do
  Login to Pageantus
%h1 Pageantus
%form#login{:method => "post", :action => "login"}
  %input#username{:type => "text", :name => "username"}
  %input{:type => "text", :name => "assistant"}
  %input{:type => "submit", :value => "Log In"}
:javascript
  window.onload = function(){document.querySelector('#username').focus();}