@import "application";

body.admin{
}

.container{
    @include outer-container;
    height: 100%;
    margin-top: 2em;
    
}

.icons-columns{
    @extend .pageantus-chrome;
    @include span-columns(1.5);
    height: 100%;
    ul{
        li{
            border-bottom: 1px solid #666 ;
            margin: 2em 0 ;
            padding: 0 0.5em 0.5em;
            text-align: center;
        }
    }
    
}

.content-columns{
    @extend .pageantus-chrome;
    @include span-columns(10.5);
    background-color: red;
    padding: 1em;
}

h2{
    font-size: 40 !important;
    font-famiy: $verdana;
}

.relative{
    position:relative;
    display: inline;
}