@import "bourbon/bourbon";
@import "neat/neat";
@include font-face('Helvetica Neue', '../fonts/helveticaneue.ttf');

body{
    @include background(url('../images/black.jpg') no-repeat);
    background-size: cover;
    cursor: default;
    font-family: $helvetica;
}

input[type="submit"]{
    @include button(shiny, #333333);
}