* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/helveticaneue.ttf.eot");
  src: url("../fonts/helveticaneue.ttf.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue.ttf.woff") format("woff"), url("../fonts/helveticaneue.ttf.ttf") format("truetype"), url("../fonts/helveticaneue.ttf.svg#Helvetica Neue") format("svg"); }

body {
  background: url("../images/black.jpg") no-repeat;
  background: url("../images/black.jpg") no-repeat;
  background-size: cover;
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

input[type="submit"] {
  border: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #4c4c4c;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(50%, #090909), color-stop(50%, #020202), color-stop(100%, #030303));
  background-image: -webkit-linear-gradient(top, #333333 0%, #090909 50%, #020202 50%, #030303 100%);
  background-image: linear-gradient(to bottom,#333333 0%, #090909 50%, #020202 50%, #030303 100%);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px black; }
  input[type="submit"]:hover:not(:disabled) {
    cursor: pointer;
    background-color: #242424;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242424), color-stop(50%, black), color-stop(50%, black), color-stop(100%, black));
    background-image: -webkit-linear-gradient(top, #242424 0%, black 50%, black 50%, black 100%);
    background-image: linear-gradient(to bottom,#242424 0%, black 50%, black 50%, black 100%); }
  input[type="submit"]:active:not(:disabled) {
    box-shadow: inset 0 0 20px 0 black, 0 1px 0 white; }
  input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
