header{
    @extend .pageantus-chrome;
    height: 1.9em;
    padding: 0.3em 0.5em;
    width: 100%;
}

#header-right{
    margin-top: 0.1em;
    float: right;
}

.tray-icon{
    background-image: url(../images/judge/trayicons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 19px;
    margin: -5px 3px 0 3px;
    opacity: 0.8;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}

#lock{
    background-position: -52px 0px;
    width: 17px;
}

#settings{
    background-position: -69px 0px;
    width: 23px;
}

#connectivity{
    background-position: 0px 0px;
    width: 26px;
}